<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!--<uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.INTERNET" />-->
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:enableOnBackInvokedCallback="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Base.Theme.CatSafe"
        tools:ignore="ExtraText"
        tools:targetApi="31">

        <activity
            android:name="com.example.catsafe.AlterarInformacaoActivity"
            android:exported="false" />
        <activity
            android:name="com.example.catsafe.DadosCadastradosActivity"
            android:exported="false" />
        <activity
            android:name="com.example.catsafe.ProgramarHorarioActivity"
            android:exported="false" />
        <activity
            android:name="com.example.catsafe.ConectarActivity"
            android:exported="false" />
        <activity
            android:name="com.example.catsafe.CameraActivity"
            android:exported="false" />

        <!--<receiver android:name="com.example.Notificação.NotificationReceiver" />-->

        <activity
            android:name="com.example.catsafe.HistoricoActivity"
            android:exported="false" />

        <activity
            android:name="com.example.catsafe.LoginActivity"
            android:exported="true" />
        <activity
            android:name="com.example.catsafe.MainActivity"
            android:exported="true" />
        <activity
            android:name="com.example.catsafe.FormaDeDespejoActivity" />

        <activity
            android:name="com.example.catsafe.CadastroActivity"
            android:exported="true" />

        <activity
            android:name="com.example.catsafe.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>